<main>
	<h2>Update Names</h2>
	<p>{{acknowledgment}}</p>
	<form action="/user/updatenames" method="post">
		{{#each names}}
		  <div class="row">

		    <div class="col-md-3">
		      <div class="form-group">
		        <label for="fname">First Name:</label>
		        <input type="text" class="form-control" id="fname" name="fname" value="{{first_name}}">
		      </div>
		    </div>
		  
		  <div class="col-md-3">
		      <div class="form-group">
		        <label for="lname">Last Name:</label>
		        <input type="text" class="form-control" id="lname" name="lname" value="{{last_name}}">
		      </div>
		    </div>
		 
		  <div class="col-md-3">
		      <div class="form-group">
		        <label for="email">Email:</label>
		        <input type="text" class="form-control" id="email" name="email" value="{{email}}">
		      </div>
		  </div>
		  <div class="col-md-3">
		      <div class="form-group">
		        <label for="hiddenId"></label>
		        <input type="hidden" class="form-control" id="hiddenId" name="hiddenId" value="{{id}}">
		      </div>
		  </div>

		  </div>
		{{/each}}
		<div class="row">
		    <div class="col-md-6">
		      <div class="form-group">
		        <input type="submit" id="addNameBtn" class="btn btn-primary" value="Update Names" />
		      </div>
		    </div>
		  </div>
	</form>

</main>